.main{
	border: 5px solid orange;
	margin: auto;
	background-color:white; 
}


.header{
    border: 5px solid orange;
	
	margin: auto;
	background-color:white; 
}


.menu{
    border: 5px solid orange;
	
	margin: auto;
	background-color:white; 
}

li{
    list-style-type: none;
}

.fb{
    float: right
}

.im1{
	padding: 3px;
}


.im2{
	display: inline-block;
	padding: 3px;
}



.list{
	list-style-type: none;
}
.list li{
	display: inline;
}
.list{
	background-color: black;
}
.list a{
	color: white;
	text-decoration: none;
}
ul{
	padding: 10px;
	margin: 0px;
}
a{
	padding: 10px;
}
a:hover{
	background-color: orange;
}

.header{
	height: 200px;
}
.content{
	min-height: 400px;
	padding: 20px;
}
.footer{
	height: 70px;
	border-top: 1px solid #cecece;
}


.dropdown{
	float:right;
}

.haj{
	position: absolute;
	right: 80px;
	top: 50px;
	
}


.fb{
	max-width:1000px; 
	padding:8px;
        float: right;
        
	position: absolute;
	top:280px;
	right:10px;
}


.imht{
	
	padding: 6px;
}

.htp .imht{
	float: left;
}


.htp{
	
	padding: 6px;
}







.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;

    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: orange}

.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropbtn{
	height: 10px;
	position:relative;
	bottom:5px;
	right:10px;
}




.htmt{
	padding: 7px
}



.abt{
	font-size: 20px;
}





.map{
	position: absolute;
	top:280px;
	right:50px;
}




.fbtx{
	text-decoration: none;
}

.nkarner{
	float: left;
	margin-right: 10px; 
}



.nerqev{
	float: 
}


.fb2{
	padding: 10px;
	height: 400px;
	overflow:auto;

}